<div class="jumbotron">
    <h1>Key-Value Cache</h1>
    <p class="lead">A simple key-value cache application.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Get Requests</h2>
        <h3 style="text-align: center;">@ViewBag.GetRequestsCount</h3>
        <p>The total number of GET requests processed by this cache application instance.</p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-3">
        <h2>Set Requests</h2>
        <h3 style="text-align: center;">@ViewBag.SetRequestsCount</h3>
        <p>The total number of SET requests processed by this cache application instance.</p>
    </div>
    <div class="col-md-3">
        <h2>Namespaces</h2>
        <h3 style="text-align: center;">@ViewBag.NamespaceCount</h3>
        <p>The total number of namespaces added to this cache application instance.</p>
    </div>
    <div class="col-md-3">
        <h2>Keys</h2>
        <h3 style="text-align: center;">@ViewBag.KeyCount</h3>
        <p>The total number of keys added to this cache application instance.</p>
    </div>
</div>